<div class="text-left">
  <h2 class="title">{{title}}</h2>
  <h6>Created by {{user.name}} on {{format_date date_created}}</h6>
  <p>{{blog_text}}</p>
  <p>
    <button class="btn btn-primary">Comment on this post</button>
  </p>
</div>
